/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #3b4779 : #ca890b */

/* general */
:root {
    --water-green : #4ad4b4;
    --my-reddino : #b6334f;
    --white : #fff;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(86, 85, 85);
    color: rgba(187, 92, 97, 1);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


/* wrapper */
.wrapper {
    margin: 20px auto;
    max-width: 1400px;
}


/* header */
.header {
    color: #ca890b;
    background-color: #ca890b;
    border:2px solid ;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.474), inset 3px 3px 2px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.501),  -3px -3px 3px rgba(0, 0, 0, 0.479);
}


/* my card */
.my-card { 
    color: #ca890b;
    margin: 10px;
    display: flex;
    background-color: #ca890b;
    border:2px solid  #ca890b;
    border-radius: 10px;
    width: calc((100% - 120px) / 2);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.474), inset 3px 3px 2px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.501),  -3px -3px 3px rgba(0, 0, 0, 0.479); 
    
}


/* card img */
.my-card img {
    display: flex;
    /* border-radius: 50% ; */
    border-radius: 10px;
    border: 2px solid  #ca890b;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.474), inset 3px 3px 2px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.501),  -3px -3px 3px rgba(0, 0, 0, 0.479);
      -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.474), inset 3px 3px 2px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.501),  -3px -3px 3px rgba(0, 0, 0, 0.479);
      -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.474), inset 3px 3px 2px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.501),  -3px -3px 3px rgba(0, 0, 0, 0.479);
      -khtml-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.474), inset 3px 3px 2px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.501),  -3px -3px 3px rgba(0, 0, 0, 0.479);
      filter: saturate(0.23);
}

/* my button */
.my-btn {
    margin-top: 20px;
    color: rgb(86, 85, 85);
    border-radius: 20px;
    width: 150px;
    background-color:  #ca890b;
    border: solid 2px #ca890b;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.481), inset 3px 3px 2px rgba(0, 0, 0, 0.453), inset -3px -3px 3px rgba(0, 0, 0, 0.393),  -3px -3px 3px rgba(0, 0, 0, 0.344);
}

#my-form{
    color: #ca890b;
    gap: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 1000;
    width: 350px;
    height: 330px;
    position: fixed;
    top: 100px;
    right: 580px;
    background-color: rgb(86, 85, 85);
    border: 2px solid rgb(86, 85, 85);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.474), inset 3px 3px 2px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.501),  -3px -3px 3px rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    padding: 15px;
}

input[type=text] {
    width: 90%;
    background-color: #ca890b;
    color: rgb(86, 85, 85);
    border: 2px solid rgb(86, 85, 85);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.474), inset 3px 3px 2px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.501),  -3px -3px 3px rgba(0, 0, 0, 0.479);
    text-align: center;
    border-radius: 10px;
}
input[type=text]:focus-visible{
    border: 2px solid rgb(86, 85, 85);
}
 
